*{

  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease-in;
}
:root{
  --nav-color: #ca665b;
  --text-color: #fff;
    --bg-color: #BC4639;
}

/* navigation bar only */
nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 100;
}


nav .nav-bar{
  position: relative;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  background-color: var(--nav-color);
  margin: 0 auto;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-bar .logo a{
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}

.nav-bar .nav-links{
  display: flex;
  align-items:end;
  margin: 0 40px;
}
.nav-bar .nav-links li{
  margin: 0 5px ;
  list-style: none;
}
.nav-bar .nav-links .login{
background-color:#d89c58;
  border: 5px;
  border-radius: 30px;
}
.nav-bar .nav-links .login:hover{
  background-color:#b94927;
    border: 5px;
    border-radius: 30px;
  }
.nav-links li a{
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}
a:hover{
  background: #b94927;
  border-radius: 30px;
}

/* out header */
.slider{
  width: 1300px;
  max-width: 100vw;
  height: 700px;
  margin: 40 auto;
  position:absolute;
  display: flex;
  align-items: center;
  overflow: hidden;
  scroll-behavior: auto;
  top: 40px;

  
}
.slider .list{
  position: absolute;
  object-position: 70px auto ;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display:flex;
  transition: 1s;
  
  justify-content: space-between;
}
.slider .list img{
  width: 1300px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}

.slider .dots{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.slider .dots li{
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.slider .dots li.active{
  width: 30px;
}
.slider .buttons{
  width: 1px;
}

@media screen and (max-width: 768px){
  .slider{
      height: 400px;
  }
}

hr{
  position: absolute;
  
  width: 100%
}




/* card */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: white;
}

.container {
  

  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px 100px 50px;
  padding: 100px 50px;
  top: 750px;
}

.container .card {

  position: relative;
  display: flex;
  justify-content: center;
  align-items:end;
  width: 350px;
  max-width: 100%;
  height: 300px;
  margin: 60px 30px ;
  background: white;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.2);
}

.container .card:hover {
  height: 500px;
}

.container .card .img-box {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background: #000000;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}

.container .card:hover .img-box {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container .card .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .card .content {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 35px;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.container .card:hover .content {
  top: 130px;
  height: 350px;
}

.container .card .content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--nav-color);
}

.container .card .content p {
  position: sticky;
  margin: 5px auto;
  color: #333;

}

.container .card .content a {
  position: relative;
  top: 15px;
  bottom: 15px;
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  background: var(--nav-color);
  color: white;
  font-weight: 500;
}

.container .card .content a:hover {
  opacity: 0.8;
  background-color: var(--bg-color);
  color: white;
}

@media (max-width: 480px) {
  .container .card {
      width: 230px;
      border-radius: 15px;
  }

  .container .card .img-box {
      width: 185px;
      border-radius: 10px;
  }

  .container .card .content p {
      font-size: 0.8rem;
  }

  .container .card .content a {
      font-size: 0.9rem;
  }
} 
